* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

#titulo-sitio {
	size: 4em;
	color: #d39a0a;
	text-shadow: 2px 2px 10px #bc8609; 
}

/*
Los  resúmenes  de  recetas  están  compuestos  por:  
a.   Una  caja  con  bordes  redondeados,  utilice  el  selector  avanzado  ~  
b.   Una  imagen  de  fondo  
c.   Aplique  la  propiedad  font-­variant:  small-­caps  al  título  de  la  receta  
d.   La  categoría  de  la  receta  tiene  color  #d69f2a  
e.   El  texto  con  la  descripción  tiene  un  relleno  de  2px,  respecto  a  la  categoría.  
f.   Al  pasar  el  mouse  sobre  la  imagen,  cambia  a  una  opacidad  de  0.7  
g.   El  margen  de  separación  entre  las  recetas  es  de  10px  
h.   El  nombre  de  la  receta  tiene  un  conjunto  de  comportamientos  especiales  
i.   Es  un  enlace  que  por  defecto  tiene  color  #db990a  y  está  subrayado  
ii.   Al  pasar  el  mouse  sobre  el  texto,  desaparece  el  subrayado  y  tiene  un  color  
#edc163  
iii.   Y  luego  de  ser  visitado,  toma  el  color:  #7c652e  
*/

body {
	background-color: white;
}

.resumen-receta {
	border-radius: 15px;
	font-variant: small-caps;
	margin: 5px;
	display: inline-block;
	padding: 5px;
	background-color: gray;
}

.resumen-receta > h3 {
	color: #d69f2a;
	margin: 2px;
}

.resumen-receta > a {
	font-size: 1.5em;
	color: #db990a;
	text-decoration: underline;
	display: block;
	border-bottom: 1pt solid white;
}

.resumen-receta > a:hover {
	color: #edc163 ;
	text-decoration: underline;
}

.resumen-receta > a:visited {
	color: #7c652e  ;
}

.resumen-receta p {
	margin: 2px;
}

.detalle-receta {
	border-bottom: 3pt dotted #d7d8cb;
}

@media screen and (max-width: 500px){
	[class*="col-"] {
		width: 100% !important;
	}

	/* body, html {
		overflow-x: hidden;
	} */

	#titulo-sitio {
		text-align: center;
	}

	.resumen-receta {
		margin: 5px 0 5px 0;
	}
	
}