* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
	float: left;
}

header > h1 {
	text-align: center;
}

.bloque {
	border: 2pt solid #cbccc1;
	margin-top: 7pt;
	margin-bottom: 7pt;
	padding: 9pt;
	margin-left: 16.66%;
}

.bloque header h2 {
	margin-top: 0pt;
	margin-bottom: 7pt;
}

.bloque p, h3 {
	margin-top: 0pt;
}

#educacion img {
	width: 120px;
	height: 120px;
	display: inline-block;
}

#datos > header > h2 {
	text-align: center;
}

#foto img {
	width: 135px;
	height: 150px;
}

span#info {
	float: right;
	padding-right: 100pt;
}

div#info {
	padding-left: 10pt;
	padding-bottom: 10pt;
	display: inline-block;
}

#habilidades #hab {
	text-align: center;
	border: 1pt solid grey;
	border-radius: 25px;
	padding-top: 0pt;
	padding-bottom: 0pt;
	padding-left: 0pt;
	padding-right: 7pt;
	display: inline-block;
	margin-left: 20pt;
	margin-right: auto;
	box-shadow: 2px 2px 5px grey;
}

#hab #num {
	font-size: 15px;
	border: 1pt solid blue;
	border-radius: 25px;
	padding: 10pt;
	display: inline-block;
	background-color: blue;
	color: white;
	margin-right: 5pt;
}

hr { 
	clear: both;
	border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

@media screen and (max-width: 800px) {
	[class*="col-"] {
		width: 100%;
	}

	hr, #titulo-datos, header h1 {
		display: none
	}

	#educacion, #habilidades, #info h3, #info p {
		text-align: center;
	}

	.bloque {
		width: 70%;
		margin-left: 115px;
		border: 2pt solid #cbccc1;
		background-color: #d4e3fc;
		border-radius: 25px;
	}

	img {
		width: 50%;
	}

	.info-educacion {
		width: 50%;
		margin: 0;
		padding: 0;
	}

	span#info, div#info {
		padding: 0;
	}

	#encabezado {
		margin-top: 25px;
	}

	#encabezado #foto, #encabezado #info {
		margin-left: 125px;
	}

	#nombre {
		font-size: 1em;
		border: 2pt solid #cbccc1;
		background-color: rgba(255, 255, 255, 0.3);
		border-radius: 12.5px;
		width: 50%;
	}

	#encabezado span {
		display: inline-block;
		width: 50%;
		background-color: white;
		border-radius: 20px;
	}

	.bloque span > img {
		border-radius: 50%;
	}

	.center {
		left: 0;
		top: 80%;
		width: 100%;
		text-align: center;
	}

	.container {
		position: relative;
		margin-bottom: 7pt;
	}

	.center h2 {
		bottom: 5px;
		right: 124px;
		position: absolute;
	}

	#foto {
		border: 2pt solid #cbccc1;
		box-shadow: 0px 2px 7pt black;
	}

	#foto img {
		margin-left: 55px;
	}

	#hab {
		margin-top: 7pt;
		padding-left: 20px;
		padding-right: 20px;
		float: left;
	}

	#habilidades header h2 {
		margin-bottom: 0;
	}

}